@import "variables.scss";
@import "common.scss";
@import "animation.scss";
.#{$namespace}markdown {
    p {
        margin: 10px;
    }
}

.#{$namespace}widget-container {

  .#{$namespace}conversation-container{
      @media screen and (min-width: 800px){
          margin-bottom: 0px;
      }

      ul {
          padding-left: 10px;
          list-style: disc;
      }
  }

}


.#{$namespace}launcher {
  // @include animation(0, 0.5s, fade-in);
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: $tertiary;
  border: 0;
  // border-radius: 50%;
  // box-shadow: 0px 2px 10px 1px $grey-3;
  height: 100px;
  margin: 0 20px 0 0;
  width: 60px;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &.#{$namespace}hide {
    display: none
  }

  &.#{$namespace}full-screen {
    @include launcher-fs;
  }

  img {
    width: 200%;
    max-height: 200%;
    object-fit: contain;
  }

  .#{$namespace}unread-count-pastille {
    background-color: #e41c23;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
  }

  .#{$namespace}tooltip-launcher {
    @include animation(0, 1s, tooltip-launcher-menu-move-linear)
    animation-timing-function: cubic-bezier(.62,.15,.46,.94);

    position: relative;
    right: 273px;
    bottom: 132px;

  }

  .notification-dark {
    width: 150px;
    height: 150px;
  }



  .#{$namespace}tooltip-body {
    position: fixed;
    bottom: 0px;
    right: 0px;
    // background-color: white;
    // box-sizing: border-box;
    // border-radius: 8px;
    // position: absolute;
    // right: 78px;
    // bottom: 12px;
    // box-shadow: 1px 0px 13px 3px rgba(0, 0, 0, 0.15);
    // width: 280px;
    // font-size: 1.4em;
    // padding: 0px 8px;
    // line-height: 1.4em;
    animation: slideUp 0.3s ease-in-out;
    transition: all 0.2s ease-in-out;
    @media screen and (max-width: 800px){
      right: 74px;
      width: calc(100vw - 90px);
    }
    // &:hover {
    //   background-color: rgb(250, 250, 250);
    //   transform: translateY(-2px);
    //   cursor: pointer;
    //   .#{$namespace}tooltip-decoration {
    //     background: rgb(250, 250, 250);
    //   }
    // }
    .#{$namespace}image-details {
      object-fit: scale-down;
      max-width: 100%;
      margin-top: 8px;
      margin-bottom: 2px;
    }
    .#{$namespace}replies {
      @include replies;
      margin: 30px;
      margin-top: 0px;
      margin-left: 4px;
      overflow: visible;
    }

    .#{$namespace}reply {
      @include reply;
    }

    .#{$namespace}response {
      text-align: left;
      margin-left: 10px;
      margin-right: 10px;

      p {
        background-color: #edeef8;
        color: #000;
        border-radius: 0 15px 15px 15px;
        padding: 5px 10px;
        max-width: 215px;
        text-align: left;
        font-family: $fontfamily;
        max-width: 185px;
        overflow-wrap: break-word;
        position: fixed;
        bottom: 100px;
        right: 100px;
        font-size: 14px;
      }
    }
    .#{$namespace}image-frame {
      object-position: 0 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 9px;
    }
  }
  .#{$namespace}tooltip-decoration {
    position: absolute;
    bottom: 12px;
    right: -6px;
    background: white;
    height: 12px;
    width: 12px;
    transition: all 0.2s ease-in-out;
    clip-path: polygon(100% 50%, 50% 0, 50% 100%);
    -webkit-clip-path: polygon(100% 50%, 50% 0, 50% 100%);
  }

  .#{$namespace}tooltip-response {
  margin-top:1.5rem;

    .#{$namespace}markdown>p {
      @include animation(0.7s, 1s, fade-in)
      opacity: 0;
      background-color: white;
      margin-bottom: 20px;
      bottom: 0px;
      right: 0px;
      position: relative;
      box-shadow: 0px 6px 14px 0px #bd56e87a;
      margin-left: -10px;
    }

    .#{$namespace}replies {
      width: 250px;

      &>div {
        box-shadow: 0px 6px 14px 0px #bd56e87a;
        margin-left: auto;
        position: relative;
        border-radius: 10px 10px 0px 10px;
        color: white;
      }

      div:nth-child(1) {
        @include animation(0.6s, 1s, fade-in)
        opacity: 0;
        // bottom: 10px;
        margin-top: 0px;
      }
      div:nth-child(2) {
        @include animation(0.5s, 1s, fade-in)
        opacity: 0;
      }
      div:nth-child(3) {
        @include animation(0.4s, 1s, fade-in)
        opacity: 0;
      }
    }
  }


  .#{$namespace}tooltip-close {

    // position: absolute;
    // top: 7px;
    // right: 10px;
    // color: red;
    height: 17px;
    width: 17px;
    transition: all 0.2s ease-in-out;

    .minimize-light-menu {
      @include animation(0.6s, 1s, fade-in);
      opacity: 0;
      position: relative;
      left: 225px;
      top: 3px;
      // &:active {
      //   @include animation(0s, 0.5s, warp-out-minimize);
      // }
    }
  }
}

@keyframes slideUp {
  from {opacity: 0; transform: translateY(8px);}
  to {opacity: 1; transform: translateY(0);}
}

// .#{$namespace}open-launcher {
//   @include animation(0, 0.5s, rotation-rl);
// }

.#{$namespace}launcher-min {
  @include animation(0, 0.5s, warp-in-launcher);
  &:active {
    @include animation(0, 0.5s, warp-out-launcher);
  }
}

.#{$namespace}launcher-open {
  @include animation(0, 0.5s, warp-in-launcher);
  &:active {
    @include animation(0, 0.5s, warp-out-launcher);
  }
}
.no-warp-in-launcher {
  @include animation(0, 0s, warp-in-launcher);

}


// .#{$namespace}close-launcher {
//   &.#{$namespace}default {
//     width: 20px !important;
//   }
//   @include animation(0, 0.5s, rotation-lr);
// }

@media screen and (max-width: 800px) {
  .#{$namespace}hide-sm {
    display: none;
  }
}

.inner-ring {
  @include animation(1s, 8s, inner-ring-menu-animation);
  // animation-timing-function: cubic-bezier(0,1.77,1,-0.84);
  // animation-iteration-count: 2;
  opacity: 0;
  border: 1px solid #6400c84d !important;
  border-radius: 50%;
  position: absolute;
  right: -24px;
  top: -1px;
  width: 95px;
  height: 95px;
}

.outer-ring {
  @include animation(1s, 8s, outer-ring-menu-animation);
  // animation-timing-function: cubic-bezier(0,1.77,1,-0.84);
  // animation-iteration-count: 2;
  opacity: 0;
  border: 1px solid #6400c814 !important;
  border-radius: 50%;
  position: absolute;
  right: -52px;
  top: -27px;
  width: 150px;
  height: 150px;
}
