@mixin animation ($delay, $duration, $animation) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@mixin keyframes ($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframes(rotation-lr) {
  from  {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0);
  }
}

@include keyframes(rotation-rl) {
  from  {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0);
  }
}

@include keyframes(slide-in) {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@include keyframes(slide-out) {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

@include keyframes(fade-in) {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@include keyframes(fade-out) {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@include keyframes(warp-in-launcher) {
  from {
    width: 0px;
    height: 0px;
    transform: translateY(0);
  }
  to {
    width: 110px;
    height: 110px;
    transform: translateY(0px);
  }
}

@include keyframes(warp-out-launcher) {
  from {
    width: 110px;
    height: 110px;
    transform: translateY(0);
  }
  to {
    width: 0px;
    height: 0px;
    transform: translateY(0px);
  }
}

@include keyframes(warp-out-minimize) {
  from {
    width: 100%;
    height: 100%;
    transform: translateY(0);
  }
  to {
    width: 0%;
    height: 0%;
    transform: translateY(0px);
  }
}

@include keyframes(tooltip-launcher-menu-move-linear) {
  from {
    position: relative;
    right: 0px;
    bottom: 0px;
  }
  to {
    position: relative;
    bottom: 132px;
    right: 272px;
  }
}
@include keyframes(tooltip-launcher-menu-move-curve) {
  from {
    position: relative;
    bottom: 00px;
    right: 40px;
  }
  to {
    position: relative;
    bottom: 132px;
    right: 5px;
  }
}

@include keyframes(inner-ring-menu-animation) {
  0% {
  }
  10% {
    opacity: 1;
  }
  20%, 70% {
    opacity: 1;
    right: -44px;
    top: -20px;
    width: 135px;
    height: 135px;
  }
  50%, 98%, 100% {
    right: -24px;
    top: -1px;
    width: 95px;
    height: 95px;
    opacity: 1;
  }
}

@include keyframes(outer-ring-menu-animation) {
  0% {
  }
  12% {
    opacity: 1;
  }
  23%, 72% {
    opacity: 1;
    right: -76px;
    top: -52px;
    width: 200px;
    height: 200px;
  }
  52%, 100% {
    right: -52px;
    top: -27px;
    width: 150px;
    height: 150px;
    opacity: 1;
  }
}
